*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family:'get-schwifty';
    src:url("image/font/get_schwifty.ttf");
}

h1{
    text-align: center;
    font-size: 35px;
}

h2{
    text-align: left;
    font-size: 45px;
    font-family: 'get-schwifty';
    color:#14d1d4ec;
    -webkit-text-stroke: 0.1px;
    -webkit-text-stroke-color: rgb(186, 201, 20);
    position: center;
}
h3{
    text-align: center;
    font-size: 45px;
    font-family: 'get-schwifty';
    color:#000000ec;
    -webkit-text-stroke: 0.1px;
    -webkit-text-stroke-color: rgb(89, 221, 238);
    position: center;
}

body {
    height: 98vh;
    justify-content: center;
    align-items: center;
    background-image: url("image/fundo.gif");
    background-position: right;
    background-repeat: no-repeat;
    background-color: rgb(0, 0, 0);
    /* background-color: rgb(35, 35, 35); */
    padding: 0px;
    margin: 0px;
    position: bottom 100px;
}


#i:hover{
    color: #14d1d4ec;
    background-color: rgb(186, 201, 20);
}

.expand{
    padding-left: 10px;
}

.expand > ion-icon{
    background-color: #14d1d4ec;
    color: rgb(186, 201, 20);
    display: flex;
    text-align: left;
    padding: 30px 0 30px 1%;
    cursor: pointer;
    font-size: 25px;
}

.trans:hover{
    background-color: rgba(249, 245, 35, 0.857);
    transition: .2s;
    border-radius: 45%;
}

nav{
    box-shadow: 3px 0 0 rgb(33, 220, 8);
    position: fixed;
    top: 0;
    left: 0;
    background-image: url("image/rick-and-morty.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 15vw;


}
.menu-block{
    display:block;
}

.menu-none{
    display: none;;
}

.menu {
    color:#14d1d4ec;
    -webkit-text-stroke: 0.1px;
    -webkit-text-stroke-color: rgb(186, 201, 20);
    border-right: 25px yellowgreen;
    height: 100vh;
    width: 15vw;
    padding: 20px;
    float: left;
    font-family: "get-schwifty";
    font-size: 30px;
    cursor: pointer;
}

.menu ul,
.menu p {
    color:#14d1d4ec;
    -webkit-text-stroke: 0.8px;
    -webkit-text-stroke-color: rgb(186, 201, 20);
    text-align: center;
    margin-top: 10px;
    font-size: 25px;
}

.container_de_busca {
    position: relative; /* Define uma posição relativa para os elementos posicionados dentro */
    display: inline-block; /* Torna o contêiner em bloco, mais ajustado ao tamanho do conteúdo */
}

/* Estilo para a caixa de texto de pesquisa */
.procurar {
    text-align: center;
    color: rgb(209, 209, 209);
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: rgb(209, 209, 209);
    background: transparent;
    border-color: rgb(170, 170, 170);
    border-radius: 10px;
    outline: none; /* Remove o contorno ao clicar */
    width: 200px;
    height: 28px;
    padding-right: 40px; /* Espaçamento à direita */
}

/* Estilo para o contêiner que envolve a caixa de texto e a imagem da lupa */
.input-with-icon {
    position: relative; /* Define uma posição relativa para os elementos posicionados dentro */
}

/* Estilo para o botão da imagem da lupa */
.lupa-button {
    position: absolute;
    top: 50%; /* Alinha o topo do botão ao centro vertical */
    right: 10px;
    transform: translateY(-25%); /* Move o botão metade de sua altura para cima, para centralizar verticalmente */
    cursor: pointer; 
    background-color: transparent;
    border: none; /* Remove a borda do botão */
    padding: 0;
}


.main{
    margin: 0;
    padding: 30px;
    width: 100%;
    height: 100%;
}

.container { /* pai */
    position: relative;
    padding: 0px 30px 0px 30px;
    height: 350px;
    max-width: 750px;
    margin: 0 auto;
    /* background-color: rgb(103, 168, 199); */
}

.row-wrapper { /* filho */
    display: flex;
    justify-content: space-around;
    height: 350px;
    align-items: center;
    /* overflow-x: auto; corta a exibição do que esta fora do container */
    /* background-color: rgb(0, 225, 255); */
}

.arrow-left,
.arrow-right{
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    font-size: 20px;
    line-height: 250px;
    width: 20px;
    text-align: center;
    color:#16e0e3;
    cursor: pointer;
    border:none;
    background: linear-gradient(to left, transparent 0%, rgb(209, 253, 15) 200%);
    border-radius: 25px;
    /* background-color: rgb(0, 196, 147); */
}

.arrow-right{
    left:auto;
    right:0;
    background: linear-gradient(to right, transparent 0%, green 200%);
}

.card1:hover .flipper, .card2:hover .flipper, .card3:hover .flipper{
    transform: rotateY(180deg);
}

.card1, .card2, .card3{ /* espaço que gira */
    width: 200px;
    height: 260px;
    perspective: 1000px;
    /* background-color: rgb(255, 162, 255); */
}

.flipper{ /* gira */
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    position: relative;
    /* background-color: rgb(238, 0, 238); */
}

.front, .back{ /* F/V */
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    /* background-color: purple; */
  }

.back{ /* rotate */
    transform: rotateY(180deg);
}

.card1 img, .card2 img, .card3 img, .card4 img  {
    max-width: 200px;
    padding: 15px;
    font-family: "get-schwifty";
    height: 260px;
    background-color: #44FF00;
    border-radius: 25px;
    font-size: 120%;/* Define o tamanho da fonte */
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    color:#44ff00;
    display: flex; 
    align-items: right;
    
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    margin: 0;
}

.title img {
    padding-top: 10px;
    margin-bottom: 0;
    max-width: 500px;
    width: 65%;
    min-height: 150px;
    background-position: center top;
    background-attachment: fixed; /* Mantém a imagem de fundo fixa no topo */
}

p{
    color:#14d1d4ec;
    -webkit-text-stroke: 0.3px;
    -webkit-text-stroke-color: rgb(186, 201, 20);
    text-align: right;
    
}

q{
    color:#14d1d4ec;
    -webkit-text-stroke: 0.3px;
    -webkit-text-stroke-color: rgb(186, 201, 20);
    text-align: right;
}

